@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@400;700&display=swap');

body{
    @apply bg-gradient-to-r from-green-700 to-emerald-500;
}
.bebas{
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 3px;
}
.bebasGrudado{
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 1px;
}

.Pedrao{
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 3px;
    font-size: 2.5rem;
}
.but{
    width: -webkit-fill-available;
}
.Montserrat{
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2px;
}